.Login-wrapper.container {
    position: absolute;
    bottom: 40%;
    right: 33%;
}
.login-header
{
    left: 33.33%;
    color: #428df4;
    font-size: -webkit-xxx-large;
}
.LoginRight
{
    float: right;
}
.LoginLeft
{
    float: left;
}
.bttnConnect
{
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 18px;
}
@media (max-width: 1200px) 
{
    .login-photo
    {
        visibility: hidden;
    }
    .Login-wrapper.container
    {
        position: relative;
    }
    .root
    {
        align-content: center;
    }

}